.top-wrapper {
  background-image: url(https://pics.prcm.jp/16c1178cd4580/83755060/jpeg/83755060.jpeg);
  color: white;
  text-align: center;
}


.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}


.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.twitter {
  background-color: #55acee;
}

.discordlink {
  background-color: #333399;
}

.github {
  background-color: #615a56;
}


.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.discord {
  width: 50%;
  text-align: center;
}

.githubstatus {
  text-align: right; 
  left: 700px;
}

.githubhead {
  position: absolute;
  text-align: center; 
  left: 800px;
  top: 270px;
  color: black;
}

.statusimage {
  position: absolute;
  text-align: right; 
  left: 700px;
  top: 300px;
}

.infotitle {
  color: black;
}

.profCard {
    margin: 10px;
    display: flex;
    width: 540px;
    height: 189px;
    border-radius: 5px;
    align-items: center;
    background-color: #0d0d0d;
    position: absolute;
    left: 800px;
    top: 450px; 
}

.profCardDev {
    border: 3px solid rgb(155, 89, 182);
}

.profCardAdmin {
    border: 3px solid rgb(231, 76, 60);
}

.profCardMod {
    border: 3px solid rgb(241, 196, 15);
}

.profCardKr {
    border: 3px solid rgb(52, 152, 219);
}

.pfp {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 50px;
}

.profData {
    display: flex;
    flex-direction: column;
}

.profMiniCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profName {
    font-size: 40px;
    font-weight: bold;
}

.profRole {
    font-size: 15px;
    color: rgb(153, 153, 153)
}

.profSns {
    margin-top: 5px;
    font-size: 13px !important;
}


.profSns a {
    font-size: 13px !important;
}
